<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="prevMonth()">Prev</button>
    <span>{{ currentMonth | date: 'MMMM yyyy' }}</span>
    <button (click)="nextMonth()">Next</button>
  </div>
  <div class="calendar-grid">
    <div class="calendar-day" *ngFor="let date of datesInMonth"
         [class.selected]="isSelected(date)"
         [class.reserved]="isReserved(date)"
         [class.disabled]="isReserved(date)"
         (mousedown)="onMouseDown(date)"
         (mouseup)="onMouseUp()"
         (mouseover)="onMouseOver(date)">
      {{ date.getDate() }}
    </div>
  </div>
</div>
