.reservation-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.reservation-card {
  padding: 15px;
  margin: 10px 0 4%;

  border-radius: 6px;
  background-color: #F6F6F4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.reservation-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.guest-info {
  width: 48%;
}

.guest-info p {
  margin: 5px 0;
}

.user-info {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile-picture {
  width: 30%;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
  align-self: center;
}


.user-info p {
  margin: 5px 0;
}

.status {
  font-weight: bold;
  color: #ff9800;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.approve-btn, .reject-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.approve-btn {
  background: green;
  color: white;
}

.reject-btn {
  background: darkred;
  color: white;
}

.approve-btn:hover {
  background: #45a049;
}

.reject-btn:hover {
  background: #d32f2f;
}
