<div class="reservation-container">
  <div *ngIf="rezervacije.length === 0">
    <p>No reservations required.</p>
  </div>

  <div *ngFor="let rezervacija of rezervacije" class="reservation-card">
    <div class="reservation-info">
      <div class="guest-info">
        <p><strong>Datum:</strong> {{ rezervacija.startDate }} - {{ rezervacija.endDate }}</p>
        <p><strong>Broj gostiju:</strong> {{ rezervacija.numberOfGuests }}</p>
        <p><strong>Cena:</strong> {{ rezervacija.price }} €</p>
        <p><strong>Status:</strong> <span class="status">{{ rezervacija.status }}</span></p>
      </div>
      <div class="user-info">
        <img [src]="rezervacija.guest.profilePic" alt="User Profile Picture" class="profile-picture">
        <p><strong>Gost:</strong> {{ rezervacija.guest.firstname }} {{ rezervacija.guest.lastname }}</p>
        <p><strong>Email gosta:</strong> {{ rezervacija.guest.email }}</p>
        <p><strong>Otkazano rezervacija:</strong> {{ rezervacija.declinedCount }} </p> <!-- Prikazivanje broja otkazanih rezervacija -->

      </div>
    </div>

    <div class="action-buttons" *ngIf="rezervacija.status === 'PENDING'">
      <button class="approve-btn" (click)="updateReservation(rezervacija.id, 'approve')">Odobri</button>
      <button class="reject-btn" (click)="updateReservation(rezervacija.id, 'reject')">Odbij</button>
    </div>
  </div>
</div>
