.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  /*transform: translate(-25%, -25%);*/
  /*transform: translate(-30%, -34%);*/
  /*transform: translate(-10%, -10%);*/
}
