<div class="filter-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by accommodation name..." class="search-input">

  <input type="date" [(ngModel)]="searchDate" class="date-input">

  <select [(ngModel)]="filterStatus" class="filter-select">
    <option value="">Status</option>
    <option value="pending">Pending</option>
    <option value="accepted">Accepted</option>
    <option value="rejected">Rejected</option>
  </select>
</div>

<div class="card-container">
  <div class="card" [ngClass]="{
      'pending': rezervacija.status === 'PENDING',
      'accepted': rezervacija.status === 'ACCEPTED',
      'rejected': rezervacija.status === 'REJECTED',
      'declinded': rezervacija.status === 'DECLINED',
      'stara-rezervacija': isPastReservation(rezervacija.startDate),
      'aktivna-rezervacija': !isPastReservation(rezervacija.startDate)
    }" *ngFor="let rezervacija of filtriraneRezervacije()">

    <div class="card-content">
      <div class="leftSide">
        <p class="price">
          {{ rezervacija.price | currency:'EUR':'symbol':'1.2-2' }}
        </p>
        <small class="status">{{rezervacija.status}}</small>
      </div>

      <div class="info">
        <h3>{{rezervacija.accommodation.name}}</h3>

        <div class="route">
          <span class="dot green"></span> {{rezervacija.startDate}}
          <br>
          <span class="dot green"></span> {{rezervacija.endDate}}
          <br>
          <p> Guests number: {{rezervacija.numberOfGuests}}</p>
        </div>

        <div class="details">
          <p> {{rezervacija.accommodation.location}}</p>
        </div>
      </div>

      <div class="dugmad">
        <!-- Dugme za odbijanje ako je status PENDING -->
        <button
          *ngIf="rezervacija.status === 'PENDING' && !isPastReservation(rezervacija.startDate)"
          (click)="odbijRezervaciju(rezervacija)"
          class="btn btn-odbij">
          Odbij rezervaciju
        </button>

        <!-- Tekst za odbijenu rezervaciju -->
        <span *ngIf="rezervacija.status === 'REJECTED'" class="status-odbijena">
    Odbijena rezervacija
  </span>

        <!-- Tekst za otkazanu rezervaciju -->
        <span *ngIf="rezervacija.status === 'DECLINED'" class="status-otkazana">
    Otkazana rezervacija
  </span>

        <!-- Dugme za brisanje u slučaju REJECTED, DECLINED i ACCEPTED ako je prošla -->
        <button
          *ngIf="(rezervacija.status === 'DECLINED' || rezervacija.status === 'ACCEPTED') && isPastReservation(rezervacija.startDate)"
          (click)="obrisiRezervaciju(rezervacija)"
          class="btn btn-obrisi">
          Obriši
        </button>

        <button
          *ngIf="(rezervacija.status === 'REJECTED')"
          (click)="obrisiRezervaciju(rezervacija)"
          class="btn btn-obrisi">
          Obriši
        </button>

        <!-- Dugme za odbijanje u slučaju ACCEPTED, ali ako nije prošla rezervacija -->
        <button
          *ngIf="rezervacija.status === 'ACCEPTED' && !isPastReservation(rezervacija.startDate) && canCancelReservation(rezervacija)"
          (click)="odbijRezervaciju(rezervacija)"
          class="btn btn-odbij">
          Odbij rezervaciju
        </button>


      </div>




    </div>

  </div>
</div>


