.filter-container {
  display: flex;
  gap: 10px;
  width: 50%;
  margin: 40px auto 15px;
}

.search-input, .filter-select, .date-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto;
}

.date-input, .filter-select {
  width: 15%;
}

.search-input {
  width: 70%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-width: 600px;
  margin: 3% auto auto;
}

.card {
  background-color: #F6F6F4;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 6px solid;
  height: 150px;
  margin-bottom: 3%;
  display: flex;
  position: relative;
}

.card-content {
  display: flex;
  width: 100%;
}

.leftSide {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.status {
  font-size: 10px;
  color: #555;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.info {
  flex: 2.2;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.route {
  font-size: 14px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.green {
  background: #015E61;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  font-size: 14px;
  color: #555;
}

.details div {
  display: flex;
  justify-content: space-between;
}

.card.pending {
  border-left-color: #FFB800;
}

.card.accepted {
  border-left-color: green;
}

.card.rejected {
  border-left-color: red;
}

.rezervacije-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
  padding: 20px;
  margin: 25px auto 0;
}

.rezervacija-kartica {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.aktivna-rezervacija {
  background-color: white;
}

.stara-rezervacija {
  background-color: #f0f0f0;
  color: #282828;
}

.stara-rezervacija small {
  color: #282828;
}

.card .dugmad {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.dugmad {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-odbij {
  background-color: darkred;
  color: white;
}

.btn-obrisi {
  background-color: #555;
  color: white;
}

.status-odbijena {
  color: darkred;
  font-weight: bold;
}
