<div class="filter-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Pretraži po nazivu smeštaja..." class="search-input">

  <input type="date" [(ngModel)]="searchDate" class="date-input">

  <select [(ngModel)]="filterStatus" class="filter-select">
    <option value="">Svi statusi</option>
    <option value="pending">Čekanje</option>
    <option value="accepted">Prihvaćena</option>
    <option value="rejected">Odbijena</option>
  </select>
</div>

<div class="rezervacije-container">
  <div
    *ngFor="let rezervacija of filtriraneRezervacije()"
    class="rezervacija-kartica"
    [ngClass]="{
      'stara-rezervacija': isPastReservation(rezervacija.startDate),
      'aktivna-rezervacija': !isPastReservation(rezervacija.startDate)
    }">

    <h3>{{ rezervacija.accommodationName }}</h3>
    <p> <small>Datum početka: </small> {{ rezervacija.startDate | date: 'dd.MM.yyyy' }} <br>
      <small>Datum završetka: </small> {{ rezervacija.endDate | date: 'dd.MM.yyyy' }}</p>
    <p><small>Status: </small>
      <span *ngIf="rezervacija.status === 'PENDING'">Čekanje</span>
      <span *ngIf="rezervacija.status === 'ACCEPTED'">Prihvaćena</span>
      <span *ngIf="rezervacija.status === 'REJECTED'">Odbijena</span>
    </p>
    <p><small>Cena: </small>{{ rezervacija.price | currency:'USD':'symbol':'1.2-2' }}</p>

    <div class="dugmad">
      <button
        *ngIf="rezervacija.status === 'ACCEPTED' && !isPastReservation(rezervacija.startDate)"
        (click)="odbijRezervaciju(rezervacija)"
        class="btn btn-odbij">
        Odbij rezervaciju
      </button>

      <span *ngIf="rezervacija.status === 'REJECTED'" class="status-odbijena">Odbijena rezervacija</span>

      <button (click)="obrisiRezervaciju(rezervacija)" class="btn btn-obrisi">Obriši</button>
    </div>
  </div>
</div>
