.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-section {
  flex: 2;
  padding-right: 20px;
}

.middle-section {
  flex: 1;
  padding-right: 20px;
}

.right-section {
  flex: 1;
}
