html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 90vh;
  box-sizing: border-box; /* Da padding ne utiče na ukupne dimenzije */
}

.left-section, .middle-section, .right-section {
  height: 100%;
  overflow: auto; /* Ako ima previše sadržaja unutar sekcija, dodaj skrolovanje unutar sekcije */
}

.left-section {
  flex: 2;
  padding-right: 20px;
  border: solid;
}

.middle-section {
  flex: 1;
  padding-right: 20px;
  border: solid;
}

.right-section {
  flex: 1;
  display: flex; /* Koristimo Flexbox za vertikalno poravnanje elemenata */
  flex-direction: column; /* Elementi idu jedan ispod drugog */
  position: relative;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0; /* Mapa ostaje u pozadini */
}

.amenities-info {
  position: relative;
  z-index: 2; /* Informacije o amenities će biti iznad mape */
  background-color: rgba(255, 255, 255, 0.9); /* Blaga pozadina za bolju čitljivost */
  padding: 10px;
  border-radius: 8px;
  margin-top: auto; /* Gura div sa sadržajem na dno sekcije */
}
