.amenities {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(30,30,30, 0.1);
  backdrop-filter: blur(10px);
}

.amenities ul {
  list-style-type: none;
  padding: 0;
}

.amenities ul li {
  margin: 5px 0;
}
