.delete-account-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 800px;
  margin: 7% auto;
  padding: 80px 20px;
  text-align: center;
  color: white;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-step {
  margin-bottom: 20px;
  /*border: solid;*/
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}


.reasons-container {
  display: flex;
  flex-direction: column;

  align-items: center; /* Centriraj ceo kontejner */
  /*border: solid black;*/
  width: 35%;

  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.form-group span {
  margin-right: 10px;
}

input[type="radio"] {
  margin-left: auto; /* Pomeri radio dugme na desnu stranu */
}

input[type="radio"] {
  margin-left: auto; /* Pomeri radio dugme na desnu stranu */
  width: 20px; /* Povećaj širinu dugmadi */
  height: 20px; /* Povećaj visinu dugmadi */
  appearance: none; /* Ukloni standardni izgled */
  border: 2px solid white; /* Bele ivice */
  border-radius: 50%; /* Zaokružite dugmad */
  background-color: transparent; /* Providna unutrašnjost */
  cursor: pointer; /* Promena kursora na dugmetu */
  transition: background-color 0.3s; /* Efekat prelaza */
}

input[type="radio"]:checked {
  background-color: white;
}


.form-control {
  width: 80%;
  padding: 8px;
  /*border: 1px solid #ddd;*/
  border-radius: 4px;
}

.confirmation-message {
  margin-bottom: 20px;
  font-size: 0.875em;
}

.btn {
  padding: 10px 34px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
}

.btn-submit {
  background-color: #B80C09;
  color: white;
}

.btn-submit:disabled {
  background-color: #ccc;
}

.btn-back {
  background-color: #6c757d;
  color: white;
}
