<div *ngIf="!userRole || userRole === ''" class="sidenav">
  <a href=""> Home </a>
  <a href=""> Search </a>
  <a href="/login"> Login </a>
  <a href="#" (click)="logout()">Logout</a>
</div>


<div *ngIf="userRole === 'GUEST'" class="sidenav">
  <a (click)="toggleProfileMenu()"> Profile </a>

  <div *ngIf="isProfileMenuOpen" class="dropdown-menu">
    <div class="hover">
    <a href="/profile">Edit Profile</a>
    </div>
    <a href="/change-password">Change Password</a>
  </div>

  <a href="/guest-reservation"> Reservation </a>
  <a href="#" (click)="logout()">Logout</a>
</div>

<div *ngIf="userRole === 'HOST'" class="sidenav">
  <a (click)="toggleProfileMenu()"> Profile </a>

  <div *ngIf="isProfileMenuOpen" class="dropdown-menu">
    <a href="/edit-profile">Edit Profile</a>
    <a href="/change-password">Change Password</a>
  </div>

  <a href="/add-apartment"> Add Apartment </a>
  <a href="/edit-apartment"> Edit Apartment </a>
  <a href="/reservation"> Reservation</a>
  <a href="#" (click)="logout()">Logout</a>
</div>


<div *ngIf="userRole === 'ADMINISTRATOR'" class="sidenav">
</div>
