<div *ngIf="!userRole || userRole === ''" class="sidenav">
  <a routerLink="">Home</a>
  <a routerLink="/search-apartment">Search</a>
  <a routerLink="/login">Login</a>
</div>


<div *ngIf="userRole === 'GUEST'" class="sidenav">
  <a (click)="toggleProfileMenu()"> Profile </a>

  <div *ngIf="isProfileMenuOpen" class="dropdown-menu">
    <div class="hover">
      <a routerLink="/profile" (click)="closeMenu()">Edit Profile</a>
    </div>
    <a routerLink="/change-password" (click)="closeMenu()">Change Password</a>
  </div>

  <a routerLink="/guest-reservation" (click)="closeMenu()">Reservation</a>
  <a href="#" (click)="logout()">Logout</a>
</div>

<div *ngIf="userRole === 'HOST'" class="sidenav">
  <a (click)="toggleProfileMenu()"> Profile </a>

  <div *ngIf="isProfileMenuOpen" class="dropdown-menu">
    <div class="hover">
      <a routerLink="/profile" (click)="closeMenu()">Edit Profile</a>
    </div>
    <a routerLink="/change-password" (click)="closeMenu()">Change Password</a>
  </div>

  <a routerLink="/add-apartment" (click)="closeMenu()">Add Apartment</a>
  <a routerLink="/edit-apartment-view" (click)="closeMenu()">Edit Apartment</a>
  <a routerLink="/profile" (click)="closeMenu()">Reservation</a>
  <a href="#" (click)="logout()">Logout</a>
</div>


<div *ngIf="userRole === 'ADMINISTRATOR'" class="sidenav">
  <a href="#" (click)="logout()">Logout</a>
</div>
