body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.sidenav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 95%;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 1;
}

.sidenav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}

.sidenav a:hover {
  text-decoration: none;
  color: #015E61;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  z-index: 2;

  padding: 15px;
  margin-top: 30px;
  margin-right: 350px;

  width: auto;

}

.dropdown-menu a {
  color: white;
  padding: 10px 30px;
  text-decoration: none;

  display: block;
  width: auto;
  transition: background-color 0.3s ease;

  border-radius: 5px;
  margin-left: -5%;
  margin-right: -5%;

}

.dropdown-menu a:hover {
  background-color: #015E61;
  color: white;
}

