.sidenav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 95%;
  backdrop-filter: blur(15px);
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 1;
}

.sidenav-green{
  background-color: rgba(1, 94, 97, 0.7);
}

.sidenav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
  position: relative; /* Važno: omogućava pravilno pozicioniranje dropdowna */
}

.sidenav a:hover {
  text-decoration: none;
  color: #015E61;
}

/* Omotac za dropdown kako bi bio pravilno pozicioniran */
.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

/* Popravljen dropdown meni */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  z-index: 10; /* Postavljamo veći z-index da ne bude ispod drugih elemenata */
  padding: 10px;
  width: 180px; /* Fiksna širina menija */
  top: 100%; /* Pozicioniranje ispod dugmeta */
  left: 0; /* Obezbeđuje da dropdown ostane ispod dugmeta */
}

.dropdown-menu a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.dropdown-menu a:hover {
  background-color: #015E61;
  color: white;
}
