<div *ngIf="!userRole || userRole === ''" [ngClass]="{'sidenav': true, 'sidenav-green': isSearchActive}">
<a routerLink="" (click)="setActivePage('')">Home</a>
  <a routerLink="/search-apartment" (click)="setActivePage('/search-apartment')">Search</a>
  <a routerLink="/login" (click)="setActivePage('/login')">Login</a>
</div>


<div *ngIf="userRole === 'GUEST'" [ngClass]="['sidenav', 'sidenav-green']">

  <div class="dropdown-wrapper">
    <a (click)="toggleProfileMenu()"> Profile </a>
    <div *ngIf="isProfileMenuOpen" class="dropdown-menu">
      <div class="hover">
        <a routerLink="/profile" (click)="closeMenus()">Edit Profile</a>
      </div>
      <a routerLink="/change-password" (click)="closeMenus()">Change Password</a>
    </div>
  </div>

  <div class="dropdown-wrapper">
    <a (click)="toggleReservationMenu()"> Reservation </a>
    <div *ngIf="isReservationMenuOpen" class="dropdown-menu">
      <div class="hover">
        <a routerLink="/guest-reservation" (click)="closeMenus()">Make Reservation</a>
      </div>
      <a routerLink="/history" (click)="closeMenus()">History</a>
    </div>
  </div>

  <a routerLink="/notifications">Notifications</a>

  <a href="#" (click)="logout()">Logout</a>
</div>

<div *ngIf="userRole === 'HOST'" class="sidenav">

  <div class="dropdown-wrapper">
    <a (click)="toggleProfileMenu()"> Profile </a>
    <div *ngIf="isProfileMenuOpen" class="dropdown-menu">
      <div class="hover">
        <a routerLink="/profile" (click)="closeMenus()">Edit Profile</a>
      </div>
      <a routerLink="/change-password" (click)="closeMenus()">Change Password</a>
    </div>
  </div>

  <div class="dropdown-wrapper">
    <a (click)="toggleApartmentMenu()"> Apartments </a>
    <div *ngIf="isApartmentMenuOpen" class="dropdown-menu">
      <div class="hover">
        <a routerLink="/add-apartment" (click)="closeMenus()">Add Apartment</a>
      </div>
      <a routerLink="/edit-apartment-view" (click)="closeMenus()">Edit Apartment</a>
    </div>
  </div>

  <a routerLink="/notifications">Notifications</a>
  <a href="#" (click)="logout()">Logout</a>
</div>

<div *ngIf="userRole === 'ADMINISTRATOR'" class="sidenav">
  <a routerLink="/notifications">Notifications</a>
  <a href="#" (click)="logout()">Logout</a>
</div>
