<div *ngIf="loading" class="loading">Učitavanje...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <table>
    <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Price</th>
      <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of specialPrices">
      <td>{{ price.start_date }}</td>
      <td>{{ price.end_date }}</td>
      <td>{{ price.price | currency }}</td>
      <td>{{ price.availability }}</td>
    </tr>
    </tbody>
  </table>
</div>
