.password-change-container {
  max-width: 550px;
  margin: 6% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.password-change-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.password-change-container .form-group {
  margin-bottom: 15px;
  width: 97%;
}

.password-change-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.password-change-container input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.password-change-container button {
  display: block;
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3b5998;
  /*background-color: #28a745;*/
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin: 0 auto;
}


.password-change-container .error-message {
  color: #B80C09;
  font-size: 0.875em;
  margin-top: 5px;
  text-align: center;
}

.password-change-container p {
  text-align: center;
  font-size: 1em;
  color: #555;
}
