<div class="login-container">
  <h2>Login</h2>

  <form (submit)="login()">
    <div class="form-group">
      <input
        type="email"
        id="email"
        name="email" required
        placeholder="Email:"
        class="form-control"
      >
    </div>

    <div class="form-group">
      <input
        type="password"
        id="password"
        name="password" required
        placeholder="Password:"
        class="form-control"
      >
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <p class="or-text">OR</p>

    <div class="social-buttons">
      <button class="btn btn-social">Google</button>
      <button class="btn btn-social">Facebook</button>
    </div>

    <p (click)="forgotPassword()" class="link-text">Forgot password?</p>

    <p class="signup-text">
      Don't have an account? <strong (click)="goToSignup()" class="signup-link">Signup</strong>
    </p>

  </form>

</div>

