<div *ngIf="accommodation" class="property-container">
  <div class="property-header">
    <div class="price">
      <h2>
        <strong>{{ accommodation.defaultPrice }}€</strong>
        <small> {{accommodation.pricingMethod  | pricingMethodFormat}}</small>
      </h2>
    </div>
    <div class="location">
      <h2>{{accommodation.location}}</h2>
    </div>
    <div class="action-icons">
      <i class="fa fa-heart"></i>
    </div>
  </div>

  <hr />

  <div class="property-content">
    <div class="menu">
      <i class="fa fa-info-circle" (click)="showDetails()"></i>
      <i class="fa fa-wallet"></i>
      <i class="fa fa-home" (click)="showDescription()"></i>
      <i class="fa fa-chart-pie"></i>
    </div>

    <div class="details">
      <h1>{{ accommodation.name }}</h1>

      <ul class="property-details" *ngIf="displayDetails">
        <li><i class="fa fa-users"></i> Kapacitet: {{ accommodation.minGuests }} - {{ accommodation.maxGuests }} gostiju</li>
        <li><i class="fa fa-home"></i> Tip: {{ accommodation.type }}</li>
      </ul>

      <p class="description" *ngIf="displayDescription">{{ accommodation.description }}</p>

    </div>
  </div>
</div>
