<div *ngIf="accommodation" class="property-container">
  <div class="property-header">
    <div class="price">
      <h2>
        <strong>{{ accommodation.defaultPrice }}€</strong>
        <small> {{accommodation.pricingMethod  | pricingMethodFormat}}</small>
      </h2>
    </div>
    <div class="location">
      <h2>565 Broome Str, NY</h2>
    </div>
    <div class="action-icons">
      <i class="fa fa-share-alt"></i>
      <i class="fa fa-heart"></i>
      <i class="fa fa-ellipsis-h"></i>
    </div>
  </div>

  <hr />

  <div class="property-content">
    <div class="menu">
      <i class="fa fa-info-circle"></i>
      <i class="fa fa-car"></i>
      <i class="fa fa-wallet"></i>
      <i class="fa fa-home"></i>
      <i class="fa fa-chart-pie"></i>
    </div>

    <div class="details">
      <h1>{{ accommodation.name }}</h1>
      <ul class="property-details">
        <li><i class="fa fa-users"></i> Kapacitet: {{ accommodation.minGuests }} - {{ accommodation.maxGuests }} gostiju</li>
        <li><i class="fa fa-home"></i> Tip: {{ accommodation.type }}</li>
        <li><i class="fa fa-expand"></i> Površina: 1,024 ft²</li>
      </ul>
      <p class="description">{{ accommodation.description }}</p>
<!--      <button (click)="goBack()" class="go-back-btn">Go Back</button>-->
    </div>
  </div>
</div>
