<div class="overlay" (click)="closeDialog()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeDialog()">X</button>

    <div class="dialog-content">
      <div class="user-info">
        <h2>User Information</h2>
        <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname}}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>

        <hr>

        <div class="guest-selection">
          <label for="guests">Number of Guests:</label>
          <div class="guest-input-container">
            <button (click)="decreaseGuests()" class="guest-btn">-</button>
            <input
              id="guests"
              type="number"
              [(ngModel)]="numGuests"
              [min]="data.accommodation.minGuests"
              [max]="data.accommodation.maxGuests"
              (change)="validateGuests()"
              readonly
            />
            <button (click)="increaseGuests()" class="guest-btn">+</button>
          </div>
          <p *ngIf="guestError" class="error-message">{{ guestError }}</p>
        </div>


        <hr>


        <p><strong>Selected days:</strong> {{ reservedDaysNum }} </p>
        <p>
          <strong>Full Price: {{fullPrice}} €</strong>
        </p>
        <p></p>

      </div>

      <div class="calendar">
        <h2>Select Reservation Date</h2>
        <app-calendar
          [apartment]="data.accommodation"
          (reservedDaysLstChange)="updateReservedDaysNum($event)"
          (fullPriceNum)="updateFullPrice($event)"
        ></app-calendar>

      </div>
    </div>

    <button mat-raised-button (click)="confirmReservation()" class="reserve-button">Reserve Now</button>
  </div>
</div>
