<div class="overlay" (click)="closeDialog()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeDialog()">X</button>

    <div class="dialog-content">
      <div class="user-info">
        <h2>User Information</h2>
        <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname}}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>

        <hr>

        <p><strong>Selected days:</strong> 7 </p>
        <p><strong>Price: {{data.accommodation.price}}  $</strong></p>

      </div>

      <div class="calendar">
        <h2>Select Reservation Date</h2>
        <app-calendar [apartment]="data.accommodation"></app-calendar>


      </div>
    </div>

    <button mat-raised-button (click)="confirmReservation()" class="reserve-button">Reserve Now</button>
  </div>
</div>
