<div class="edit-layout">
  <!-- Leva strana -->
  <div class="edit-menu">
    <button [class.active]="selectedSection === 'basic'" (click)="selectedSection = 'basic'">Basic Info</button>
    <button [class.active]="selectedSection === 'more'" (click)="selectedSection = 'more'">More Info</button>
    <button [class.active]="selectedSection === 'pricing'" (click)="selectedSection = 'pricing'">Pricing</button>
    <button [class.active]="selectedSection === 'availability'" (click)="selectedSection = 'availability'">Availability</button>
    <button [class.active]="selectedSection === 'reservationReview'" (click)="selectedSection = 'reservationReview'">Reservation Review</button>
  </div>

  <!-- Desna strana -->
  <div class="edit-details">
    <div class="details-container">
      <div *ngIf="selectedSection === 'basic'" class="info-container">
        <h2>Edit Basic Info</h2>

        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="apartment.name" type="text">

        <label for="location">Location:</label>
        <input id="location" [(ngModel)]="apartment.location" type="text">

        <label for="price">Price:</label>
        <input id="price" [(ngModel)]="apartment.defaultPrice" type="number">

        <label for="apartmentType">Apartment Type:</label>
        <select id="apartmentType" [(ngModel)]="apartment.type" name="apartmentType">
          <option value="STUDIO" [selected]="apartment.type === 'STUDIO'">Studio</option>
          <option value="ROOM" [selected]="apartment.type === 'ROOM'">Room</option>
          <option value="APARTMENT" [selected]="apartment.type === 'APARTMENT'">Apartment</option>
        </select>


        <div class="guest-inputs">
          <div>
            <label for="minGuests">Minimum Guests:</label>
            <input id="minGuests" [(ngModel)]="apartment.minGuests" name="minGuests" type="number" min="1" required />
          </div>
          <div>
            <label for="maxGuests">Maximum Guests:</label>
            <input id="maxGuests" [(ngModel)]="apartment.maxGuests" name="maxGuests" type="number" min="1" required />
          </div>
        </div>

        <div class="button-container">
          <button (click)="saveApartment()">Save</button>
        </div>
      </div>

      <div *ngIf="selectedSection === 'more'" class="info-container">
        <h2>Edit More Info</h2>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="apartment.description"></textarea>

        <label for="amenities">Amenities:</label>
        <input id="amenities" [(ngModel)]="apartment.amenities" type="text">

        <div class="file-upload-container">
          <label for="photos">Add Photos:</label>
          <button type="button" class="file-upload-button" (click)="fileInput.click()">Choose Files</button>
          <input type="file" id="photos" #fileInput (change)="onFileSelected($event)" multiple style="display: none;" />
        </div>

        <!-- Reservation Type Selection -->
        <div *ngIf="apartment.reservationType">
          <label for="reservationType">Reservation Type:</label>
          <select id="reservationType" [(ngModel)]="apartment.reservationType" name="reservationType">
            <option value="AUTOMATIC">Automatic</option>
            <option value="MANUAL">Manual</option>
          </select>
        </div>


        <!-- Deadline Field (only visible for manual reservations) -->
        <div *ngIf="apartment.reservationType === 'MANUAL'">
        <label for="deadline">Deadline (days):</label>
          <input id="deadline" [(ngModel)]="apartment.deadline" type="number" min="1" />

          <small class="info-text">
            For **manual** reservations, the **deadline** represents the number of days before the reservation date when cancellation is allowed.
            For example, if a reservation is made for January 16th and the deadline is set to 3 days, the reservation can be canceled until January 13th.
          </small>
        </div>

        <small class="info-text">
          **Automatic** reservations do not require a deadline. Cancellations are not allowed once the reservation is confirmed.
        </small>

        <div class="button-container">
          <button style="background-color: green; color: white" (click)="saveApartment()">Save</button>
        </div>
      </div>

      <div *ngIf="selectedSection === 'pricing'">
        <h2>Edit Pricing</h2>
        <app-pricing-and-availability [apartment]="apartment"></app-pricing-and-availability>

      </div>

      <div *ngIf="selectedSection === 'availability'">
        <h2>Edit Availability</h2>
        <app-host-calendar
          [apartment]="apartment"
        ></app-host-calendar>

      </div>

      <div *ngIf="selectedSection === 'reservationReview'">
        <h2> Reservation requests </h2>
        <app-reservation-review-component [apartment]="apartment"></app-reservation-review-component>
      </div>
    </div>
  </div>
</div>
