<div class="edit-layout">
  <!-- Leva strana -->
  <div class="edit-menu">
    <button [class.active]="selectedSection === 'basic'" (click)="selectedSection = 'basic'">Basic Info</button>
    <button [class.active]="selectedSection === 'more'" (click)="selectedSection = 'more'">More Info</button>
    <button [class.active]="selectedSection === 'pricing'" (click)="selectedSection = 'pricing'">Pricing</button>
    <button [class.active]="selectedSection === 'availability'" (click)="selectedSection = 'availability'">Availability</button>
    <button [class.active]="selectedSection === 'priceReview'" (click)="selectedSection = 'priceReview'">Price Review</button>
  </div>

  <!-- Desna strana -->
  <div class="edit-details">
    <div class="details-container">
      <div *ngIf="selectedSection === 'basic'" class="info-container">
        <h2>Edit Basic Info</h2>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="apartment.name" type="text">

        <label for="location">Location:</label>
        <input id="location" [(ngModel)]="apartment.location" type="text">

        <label for="price">Price:</label>
        <input id="price" [(ngModel)]="apartment.price" type="number">

        <label for="apartmentType">Apartment Type:</label>
        <select id="apartmentType" [(ngModel)]="apartment.apartmentType" name="apartmentType">
          <option value="studio">Studio</option>
          <option value="room">Room</option>
          <option value="apartment">Apartment</option>
        </select>

        <div class="guest-inputs">
          <div>
            <label for="minGuests">Minimum Guests:</label>
            <input id="minGuests" [(ngModel)]="apartment.minGuests" name="minGuests" type="number" min="1" required />
          </div>
          <div>
            <label for="maxGuests">Maximum Guests:</label>
            <input id="maxGuests" [(ngModel)]="apartment.maxGuests" name="maxGuests" type="number" min="1" required />
          </div>
        </div>
      </div>

      <div *ngIf="selectedSection === 'more'" class="info-container">
        <h2>Edit More Info</h2>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="apartment.description"></textarea>

        <label for="amenities">Amenities:</label>
        <input id="amenities" [(ngModel)]="apartment.amenities" type="text">

        <div class="file-upload-container">
          <label for="photos">Add Photos:</label>
          <button type="button" class="file-upload-button" (click)="fileInput.click()">Choose Files</button>
          <input type="file" id="photos" #fileInput (change)="onFileSelected($event)" multiple style="display: none;" />
        </div>
      </div>

      <div *ngIf="selectedSection === 'pricing'">
        <h2>Edit Pricing</h2>
        <app-pricing-and-availability [apartment]="apartment"></app-pricing-and-availability>
      </div>

      <div *ngIf="selectedSection === 'availability'">
        <h2>Edit Availability</h2>
        <app-calendar [apartment]="apartment"></app-calendar>
      </div>

      <div *ngIf="selectedSection === 'priceReview'">
        <h2>Price Review</h2>
        <app-price-review [apartment]="apartment"></app-price-review>


      </div>

      <div class="button-container">
        <button style="background-color: green; color: white" (click)="saveApartment()">Save</button>
        <button style="background-color: #B80C09; color: white" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </div>
</div>
