<div class="container">
  <div class="left-section">
    <app-apartment-images></app-apartment-images>
    <app-apartment-details></app-apartment-details>
  </div>
  <div class="middle-section">
    <app-apartment-info></app-apartment-info>
  </div>
  <div class="right-section">
    <div class="map-container">
      <app-map-section></app-map-section>
    </div>
    <div class="amenities-info">
      <app-amenities-info></app-amenities-info>
    </div>
  </div>
</div>

<button class="reserve-button" (click)="reserve()">Reserve</button>

