<div class="notification-layout">
  <div class="notification-list" [class.expanded]="selectedNotification">
    <div
      *ngFor="let notification of notifications"
      class="notification"
      (click)="toggleDetails(notification)"
      [class.active]="notification === selectedNotification"
    >
      <p [class.read]="notification.read">{{ notification.message }} {{notification.info}} </p>
      <small>{{ notification.timestamp | date: 'short' }}</small>
    </div>
  </div>

  <div class="notification-details" *ngIf="selectedNotification">
    <h3>Detalji obaveštenja</h3>
    <p>{{ selectedNotification.message }}</p>
    <p>{{ selectedNotification.info }}</p>
    <small>{{ selectedNotification.timestamp | date: 'long' }}</small>

    <app-apartment-view-basic [apartment]="selectedNotification.apartment"></app-apartment-view-basic>


  </div>


</div>
