<div class="notification-container">
  <div *ngFor="let notification of notifications" class="notification">
    <p [class.read]="notification.read">{{ notification.message }}</p>
    <small>{{ notification.timestamp | date: 'short' }}</small>

    <div *ngIf="userRole === 'ADMINISTRATOR'; else userButtons">
<!--      <button (click)="approveApartment()">-->
      <button>
        Approve Apartment
      </button>

      <button (click)="markAsRead(notification.id)" *ngIf="!notification.read">
        Mark as Read
      </button>
    </div>

    <ng-template #userButtons>
      <div>
        <button class="btn-primary" (click)="markAsRead(notification.id)" *ngIf="!notification.read">
          Mark as Read
        </button>
      </div>
    </ng-template>
  </div>
</div>
